<a href="https://colab.research.google.com/github/DavideScassola/PML2024/blob/main/Notebooks/02_numpy_pandas_sklearn/022_pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
path_csv = 'https://raw.githubusercontent.com/DavideScassola/data_analysis_laboratory/main/notebooks/dati/reviews.csv'
reviews = pd.read_csv(path_csv)

In [2]:
reviews.head()

,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

1. Find the video game with the lowest score

In [5]:
# First find the lowest score given to a videogame
lowest_score = min(reviews['score'])

# Then select the row(s) where the score is the lowest
games_with_lowest_score = reviews[reviews['score'] == lowest_score]

print(games_with_lowest_score[['title', 'score']])

                                        title  score
5242  Looney Tunes: Back in Action: Zany Race    0.5

2. Find the video game of genre 'Shooter' with the highest score

In [6]:
# Filter for games of genre 'Shooter'
shooter_games = reviews[reviews['genre'] == 'Shooter']

# Then select the row(s) where the score is the highest
highest_shooter_game = shooter_games.loc[shooter_games['score'].idxmax()]

print(highest_shooter_game[['title', 'score']])

title    Halo 4
score       9.8
Name: 200, dtype: object

3. Find the oldest video game

In [7]:
# Find the oldest video game (with the earliest release year)
oldest_game = reviews.loc[reviews['release_year'].idxmin()]

# Display the title and release year of the oldest game
print(oldest_game[['title', 'release_year']])

title           The Walking Dead: The Game -- Episode 1: A New...
release_year                                                 1970
Name: 516, dtype: object

4. How many PC video games were rated higher than 9 in 2005? Tip: apply the `len()` function to get the number of rows in a DataFrame

In [8]:
# Filter the DataFrame for PC games with a score higher than 9 in 2005
pc_games_2005_high_score = reviews[(reviews['platform'] == 'PC') & 
                               (reviews['score'] > 9) & 
                               (reviews['release_year'] == 2005)]

# Count the number of such games
num_pc_games = len(pc_games_2005_high_score)

print(f"Number of PC games rated higher than 9 in 2005: {num_pc_games}")

Number of PC games rated higher than 9 in 2005: 6

5. Find the newest video game. Tip: You can sort the rows of a DataFrame by the value of a column (or more) with the `.sort_values` method.

In [11]:
# Sort the DataFrame by release year in descending order to get the newest game
newest_game = reviews.sort_values(by='release_year', ascending=False).iloc[0]

# Display the title and release year of the newest game
print(newest_game[['title', 'release_year']])

title           Inside
release_year      2016
Name: 18624, dtype: object

6. As you noticed the dataset has both a score column and a score_phrase column (the grade). Can you find what grade (score_phrase) each score corresponds to? In other words, what are the score thresholds for moving from one grade to the next? Tip: You can use the `.unique()` method to find the unique values of a set

In [12]:
# Get unique score_phrase values
unique_grades = reviews['score_phrase'].unique()

# For each unique grade, find the scores corresponding to that grade
for grade in unique_grades:
    scores_for_grade = reviews[reviews['score_phrase'] == grade]['score'].unique()
    print(f"Grade: {grade}, Scores: {sorted(scores_for_grade)}")

Grade: Amazing, Scores: [9.0, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9]
Grade: Great, Scores: [8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9]
Grade: Good, Scores: [7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9]
Grade: Awful, Scores: [3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9]
Grade: Okay, Scores: [6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9]
Grade: Mediocre, Scores: [5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9]
Grade: Bad, Scores: [4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9]
Grade: Painful, Scores: [2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9]
Grade: Unbearable, Scores: [1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.7, 1.8, 1.9]
Grade: Disaster, Scores: [0.5, 0.7, 0.8]
Grade: Masterpiece, Scores: [10.0]

7. Load the dataset from the .csv located at the following path (on colab): `sample_data/california_housing_train.csv`

8. Show a histogram of the `median_house_value` variable.

9. Show a plot (scatterplot) of the variable 'population' (x-axis) versus the variable 'total_rooms' (y-axis).
Tip: You can use matplotlib's 'scatter' method: it works similarly to 'plot' but does not join the points with a line by default.

10. How many inhabitants per house are there?

11. This dataset contains the geographic coordinates of each neighborhood, can you show in a graph the location of each neighborhood? (as if it were a map)

12. Show as before the location of each neighborhood, but this time neighborhoods with less than 5000 inhabitants should be rapresented in a different color than neighborhoods with more than 5000 inhabitants.
Tip: If you call a matplotlib graphing function (such as ply.plot or plt.scatter) more than once, the two graphs will be overlapped

13. Color the points according to the value of the `median_house_value` variable.
Tip: use the `c` parameter of the scatter function